.mb-3 {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}

textarea {
  width: 50vw;
  height: 20vh;
}

.extra {
  text-align: left;
  line-height: 1rem;
}